doctype html

html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')

  body
    div.bg

    div.container
      div.logo
        h1.logo(onclick="location.href='/'") DGDB

      div.nav
        p
          | <a href='/'>Home</a>

      div.user-cp
        p
          | <a class='variant-1' href='/login'>Log in</a> &nbsp;&nbsp;&nbsp;
          | <a class='variant-1' href='/register'>Register</a>

    block content
